<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BMYEONSUNG_otf.otf</string>
		<string>MangoDdobak-R(otf).otf</string>
		<string>Cafe24Supermagic-Regular-v1.0.otf</string>
		<string>omyu pretty.ttf</string>
		<string>The Jamsil OTF 2 Light.otf</string>
		<string>KimjungchulScript-Regular.otf</string>
		<string>KCC-Chassam.otf</string>
		<string>Dovemayo_wild.ttf</string>
		<string>Adultkid.otf</string>
		<string>Sagak-sagak.otf</string>
		<string>GamtanRoadBatangRegular.otf</string>
		<string>SOGANG_UNIVERSITY_for_mac.otf</string>
		<string>SEOLEIMcool.otf</string>
		<string>SKYBORI.otf</string>
		<string>RIDIBatang.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
